.Emoji {
    position: relative;
    left: 50px;
    bottom: 45px;
    height: 0px;
}

.Emoji1 {
    position: relative;
    left: 38px;
    bottom: 43px;
    height: 0px;
}

.Below:checked~#control-me::after {
    content: "😩";
    font-size: 40px;
}

.Exceeds:checked~#control-me::after {
    content: "😁";
    font-size: 40px;
}

.Marginal:checked~#control-me::after {
    content: "😖";
    font-size: 40px;
}

.Proficient:checked~#control-me::after {
    content: "😄";
    font-size: 40px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}